<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #searchHospital (keyup)="searchHospitals( searchHospital.value )" class="form-control" type="text" placeholder="Buscar hospital...">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor...</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button (click)="createHospital()" class="btn btn-primary waves-effect waves-light btn-rounded"><i class="fa fa-plus pr-1"></i>Crear hospital</button>
                </div>

                <h3 class="card-title"> Usuarios registrados <small>( {{ allHospitals }} )</small> </h3>
                <table class="table table-hover">
                    <thead>
                        <th>Imagen</th>
                        <th>Hospital</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitals">
                            <td class="w70">
                                <img (click)="showModal( hospital._id )" [src]="hospital.img | img:'hospital'" class="img-50 img-circle pointer">
                            </td>
                            <td>
                                <input type="email" class="form-control" [(ngModel)]="hospital.name" placeholder="Nombre del hospital">
                            </td>
                            <td>
                                <button (click)="saveHospital( hospital )" class="btn btn-primary mr-2">
                                <i class="fa fa-save"></i>
                              </button>
                                <button (click)="deleteHospital( hospital )" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="changeSince(-5)" class="btn btn-secondary">
                Anteriores
              </button>
                <button (click)="changeSince(5)" class="btn btn-secondary">
                Siguiente
              </button>
            </div>
        </div>
    </div>
</div>